@font-face {
	font-family: 'grotesque';
	src: url("../../fonts/grotesque.otf");
}

.categories-accordion {
	margin-top: 20px;
}

img {
	left: 20px;
	height: 70px;
	width: 70px;
}

.restaurantName {
	margin-top: 42px;
	word-break: keep-all
}

.glyphicon {
	cursor: pointer;
	color: #469ada;
}

.glyphicon-cog {
	font-size: 20px;
	line-height: 36px;
}

h2 {
	font-family: 'grotesque';
	color: #fff;
	font-size: 36px;
	line-height: 36px;
}