@font-face {
	font-family: 'grotesque';
	src: url("../fonts/grotesque.otf");
}

#navbar {
	background-color: #3a3a3a;
	/*padding: 0 15px;*/
	font-family: 'grotesque';
}

#navbar .navbar-nav li a {
	color: #fff !important;
	font-size: 16px;
}

.navbar-header {
	padding-left: 15px;
	background-color: #3a3a3a;
}

.navbar-right {
	padding-right: 15px;
}

.navbar {
	border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #262626;
}

a {
	color: white;
	cursor: pointer;
}