<nav v-if="userIsSignedIn" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div v-bind:class="{'active': $route.path == routes.home}" class="navbar-header">
			<router-link class="navbar-brand" :to="routes.home">
				<span class="glyphicon glyphicon-cutlery"></span>
			</router-link>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li v-bind:class="{'active': $route.path == routes.dashboard}">
					<router-link :to="routes.dashboard">My Menu</router-link>
				</li>
				<li v-bind:class="{'active': $route.path == routes.liveOrders}">
					<router-link :to="routes.liveOrders">Live Orders</router-link>
				</li>
				<li v-bind:class="{'active': $route.path == routes.resolvedOrders}">
					<router-link :to="routes.resolvedOrders">Resolved Orders</router-link>
				</li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li v-bind:class="{'active': $route.path == routes.account}">
					<router-link :to="routes.account">Account</router-link>
				</li>
				<li class="logout">
						<a v-on:click="logUserOut">Log out</a>
				</li>
			</ul>

		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>